@*model IEnumerable<Centric_FINAL.Models.Profile>*@
@model PagedList.IPagedList<Centric_FINAL.Models.Profile>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Employee List</h2>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-9">
            @using (Html.BeginForm("Index", "Profiles", FormMethod.Get))
            {
                <p>
                    Find by Name: @Html.TextBox("searchString")
                    <input type="submit" value="Search" />
                </p>
            }
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Add New Employee", "Create")
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Business Unit
        </th>
        <th>
           Hire Date
        </th>
        <th>
            Title
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
            @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
