@model IEnumerable<Centric_FINAL.Models.Recognize>

@{
    ViewBag.Title = "Leaderboard";
}

<h2>Leaderboard</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeFullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeFullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecognizeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecognizeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecognizeID })
        </td>
    </tr>
}

</table>
